<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin dashboard</title>
</head>
<body>
    <p>total company: {{ t_company }} ||  total approved company: {{ t_a_company }} ||  total unapproved company: {{ t_un_a_company }} || block companyes: {{ t_b_company }}</p>
    <p>total employees: {{ total_e }}</p>
    <p>total applications: {{ total_a }}</p>
    <p>total Jobs: {{ total_j }}</p>
    <a href="/2300/admin_dashboard/new_company"><button>applied company</button></a><br><br>
    <a href="/2300/admin_dashboard/companyes"><button>all company</button></a><br><br>
    <a href="/2300/admin_dashboard/seeker"><button>all seeker</button></a><br><br>
    <a href="/2300/admin_dashboard/applications"><button>Active applications</button></a><br><br>
    <a href="/2300/admin_dashboard/active_jobs"><button>Active jobs</button></a><br><br>
</body>
</html>