<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change password</title>
</head>
<body><form method="post">
    <input type="text" name="current_password" placeholder="Old password" required><br><br>
    <input type="text" name="new_password" placeholder="New password" required><br><br>
    <input type="submit" value="Change password">
</form><br><br>

{% for category, msg in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}">{{ msg }}</div>
{% endfor %}

<a href="/forgate_password_c">Forgate password</a>
</body>
</html>