<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_search.css') }}">
</head>
<body>
    <main>
        <h2>Search Employees</h2>
        <form method="POST">
            <input type="text" name="keyword" placeholder="Enter name or job title" required>
            <button type="submit">Search</button>
        </form>

        <ul class="results-grid">
            {% for job in results %}
                <li>
                    <strong>{{ job.title }}</strong> <span>({{ job.job_type }})</span><br>
                    <p>company - <span>{{ job.company_name }}</span></p>
                    <p>location - <span>{{ job.country }}, {{ job.state }}, {{ job.city }}</span></p>
                    <p><span>{{ job.salary }}</span></p>
                    <a href="{{ url_for('details', job_id=job.id, comp_id=job.company_id ) }}">
                        <button type="button">view details and apply</button>
                    </a>
                </li>
            {% else %}
                <p>No results found. Try a different search keyword.</p>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
