<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>job details</title>
</head>
<body>
<h2 class="job-title">{{ details.title }}</h2>
<p class="company">{{ details.company_name }}</p>
<p class="location">{{ details.location }}</p>
<p class="meta">
    <span>{{ details.salary }}</span> |
    <span>{{ details.work_Arrangement }}</span> |
    <span>{{ details.employment_Type }}</span>
</p>
<p><strong>Job Role:</strong> {{ details.job_role }}</p>
<p class="meta">
    <span><strong>Job Type:</strong> {{ details.job_type }}</span><br>
    <span><strong>Job profesion:</strong> {{ details.profesion }}</span>
</p>
<p><strong>Experience Required:</strong> {{ details.experience }} years</p>
<p><strong>Compulsory Skill:</strong> {{ details.comp_skil }}</p>
<p><strong>Last Date to Apply:</strong> {{ details.lastdate }}</p>
</body>
</html>
