<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input type="text" name="newpass1" placeholder="enter new password" required>
        <input type="text" name="newpass" placeholder="Re enter new password", required>
        <button type="submit">Change</button>
    </form>
{% for category, msg in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}">{{ msg }}</div>
{% endfor %}
</body>
</html>