<!DOCTYPE html>
<html>
<head><title>Employee Signup</title></head>
<body>
    <h2>Employee Signup</h2>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('register') }}">
        Full Name: <input type="text" name="name" required><br><br>
        Email: <input type="email" name="email" required><br>
        mobile no.: <input type="number" name="mobile" required><br><br>
        date of birth: <input type="date" name="db" required><br><br>
        <p>Gender</p>
        <select name="Gender" required>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="other">Other</option>
        </select><br><br>
        <p>Adress</p>
        country: <input type="text" name="country" required>
        state: <input type="text" name="state" required>
        city: <input type="text" name="city" required>
        zip/pin: <input type="text" name="pin" required><br><br>
        highest Qualification:<input type="text" name="qualification" required><br><br>
        Year of graduation:<input type="text" name="graduation" required><br><br>
        Specialization:<input type="text" name="Specialization" required><br><br>
        Job Role: <input type="text" name="role" required><br><br>
        Job Location: <input type="text" name="location" required><br><br>
        <input type="submit" value="Signup">
    </form>
    <h3>please enter right email for contact</h3>
</body>
</html>